@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Poppins:300,200');

body>header{
    background-color: #046DD5;
}
h1 > a:link, h1> a:visited, h2 > a:link, h2 > a:visited, div > a:link, div > a:visited{
    color:white;
    text-decoration:none;
}
header > div > a:first-child{
    border-right: 1px solid white;
    
}
header >div > a{
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
}

ul > a:visited, a:link{
    text-decoration: none;
    color:black;
}
body > nav > ul{
    list-style: none;
    text-align: center;
}

ul>li{
    display: inline-block;
    list-style-position: none;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 2px solid;
}
ul > li:first-child{
    border-top: 5px solid #E1493E;
}
ul >li:nth-child(2){
    border-top: 5px solid #8ABA56;
}
ul>li:nth-child(3){
    border-top: 5px solid #5B4282;
}
ul>li:nth-child(4){
    border-top: 5px solid #FF8932;
}
ul>li:nth-child(5){
    border-top: 5px solid #19B6E9;
}
ul>li:nth-child(6){
    border-top: 5px solid #E84C8B;
}

aside{
    background-color: #2A2F33;
    color:white;
    font-family: Poppins;
}
article >header > h1 > a:link, a:visited{
    font-family: Lora;
    text-shadow:10px 10px solid black;
}

section > article > p:first-of-type:first-letter{
    text-transform: capitalize;
    font-size: 150%;
}

article > footer{
    padding:10px;
    background-color:#F4655F;
    color: white;
    
}
footer{
    background-color: #2A2F33;
    color:white;
    padding: 1px;
}